{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="style.css">
{% endblock %}


{% page content %}
<div><header>
        <div style="width:100%;margin-top:100px; margin-left:50%">
        <!-- Set Div As your requirement -->
        <class="text-lead" data-reactid="1"height="400" width="400" >Ciudad</div>
</header>
    <div style="float:left; width:35%; margin-left:50px; margin-top:100px">
        <!-- Set Div As your requirement -->
        <img src="https://a0.muscache.com/ic/discover/341?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=33b4f2&downsize=655px:435px"class="img-circle" height="400" width="400"></div>

    <div style="float:right; width:35%; margin-left:20px; margin-top:250px">
            <!-- Set Div As your requirement -->
        <class="text-lead" data-reactid="1"height="400" width="400" >Descripcion casa</div>
</div>
{% endblock %}
