    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">
                            </p>
                                <font size="6">NUESTRA CASA ES TU CASA</font>
                            <p>
                            <p>
                            Alquila espacios únicos y alójate con anfitriones en distintas ciudades.</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>